@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  /* color: white; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Pacifico";
  background-color: #17202a;
  background-image: url(./images/cool_back.avif);
  background-size: cover;
  color: #fff;
  position: fixed;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.toggle-button {
  width: 2rem;
  background: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  /* vertical-align: middle; */
  border-radius: 5px;
}

.toggle-button i {
  background-color: #17202a;
  padding: 0.2rem;
  border-radius: 5px;
  width: 100%;
}

.toggle-button:focus {
  outline: none;
  background-color: #17202a;
}

.main-nav {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: normal;
  /* margin: 0 10px; */
  margin: 0 2rem;
  align-items: center;
}

.main-nav__items {
  display: flex;
  list-style: none;
}

.main-nav__item {
  margin: 0 10px;
  font-size: 1.2rem;
}

.main_header__brand,
.main-nav__items a {
  text-decoration: none;
  color: #fff;
}

.main-nav__items a:hover {
  color: #17202a;
  background-color: white;
  padding: 10px;
  border-radius: 2px;
  transition: padding 0.5s;
}

.mobile-nav {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 60%;
  height: 100vh;
  transform-origin: top left;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  background-color: rgba(23, 32, 42, 0.9);
  border: 10px solid white;
  border-radius: 10px;
  border-left: none;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1rem;
  color: #fff;
}

.mobile-nav__item > i {
  font-size: 1rem;
  margin-right: 0.2rem;
}

.open {
  display: block !important;
  transform: translateX(0%);
}

.my-img {
  height: 900px;
  filter: grayscale(50%);
}

#my-img-container {
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 5px 5px 20px #000000;
  border-radius: 10px;
  animation-name: slideMe;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  /* animation-delay: -2s; */
  animation-timing-function: linear;
}

#about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px #fff;
  background-color: rgba(0, 0, 0, 0.9);
}

.about-me-writeup {
  position: absolute;
  z-index: 100;
  top: 48%;
  left: 10%;
  background-color: transparent;
  animation-name: slideMe1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

#about-me article {
  line-height: 0.5;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  margin-right: 1rem;
}

.about-me-writeup h1,
.my-name,
h3 {
  background-color: transparent;
}

h6 {
  display: inline-block;
  background-color: azure;
  padding: 10px;
  color: #17202a;
}

h6 a {
  text-decoration: none;
  background-color: white;
  color: #17202a;
}

@keyframes slideMe {
  0% {
    /* transform: rotate(-50deg); */
  }
  50% {
    /* transform: scale(1, 1); */
  }
  100% {
    transform: translate(180%);
  }
}

@keyframes slideMe1 {
  0% {
    /* transform: rotate(-50deg); */
  }
  50% {
    /* transform: scale(1, 1); */
  }
  100% {
    transform: translate(-180%);
  }
}

@media (min-width: 40rem) {
  .main-nav {
    display: block;
  }

  .about-me-writeup {
    position: static;
    padding-left: none;
  }

  .toggle-button-div {
    display: none;
  }

  .main_header__brand {
    font-size: 150%;
  }
}

/* ABOUT ME STYLING */
