.background {
    background: url("../images/background.webp") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.project-img {
    height: 280px;
    width: 380px;
    border-radius: 20px;
    margin: 0.5rem;
}

.project {
    border: 2px solid #fff;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
}

.project:hover {
    background-color: #fff;
}

.project h1 {
    text-align: center;
}

.project a {
    color: #fff;
}

.project a:hover {
    color: #000;
}

/* .project h1:hover {
    color: #000;
} */


@media (max-width: 40rem) {
    .project  {
        max-width: 80%;
        overflow: hidden;
    }

    .project-img {
        height: 200px;
        width: 250px;
    }

}